/* &display=swap */
@import "null.css";
@import "fonts.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700,900);
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */
/* BORDER - граница */
html,
body {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 5px;
}
.container {
	
}
nav {
	font-style: italic;
	letter-spacing: 5px;
	line-height: 2;
	text-shadow: 1px 2px 3px #000;
}
.main-title {
	text-indent: 40px;
	margin-top: 5px;
	text-transform: uppercase;
	color: slateblue;
	font-weight: 700;
	font-size: 32px;
}
h2 {
	display: block;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	margin-bottom: 20px;
}
p {
	text-indent: 20px;
	line-height: 1.5;
	letter-spacing: 2px;
	text-align: justify;
	margin: 20px;
}
img {
	width: 50%;
	height: 50%;
}
.run-1 {
	border: 5px solid black;
	outline: 5px solid blue;
}
.run-2 {
	border-right: 10px dashed red;
	border-left: 10px dashed red;
	border-bottom: 5px dashed red;
	

}
.img-1 {
	border-radius: 50px 0 50px 0px;
	
}
.run-3 {
	box-shadow: 30px -10px 10px -10px #000, 30px 10px 10px -10px red;
}
.img-2 {
	border-radius: 75%;
}
.run {
	border: 5px dotted blue;
}
.img-3 {
	display: block;
	border-radius: 0 50% 0 50%;
	margin: 0 0 0 auto;
}
.run-4 {
	border: 10px double green;
	border-radius: 25px;
}
.img-4 {
	border-radius: 30px;
	border: 50px solid yellow;
	box-shadow: 10px 20px 10px tomato;
}
.run-5 {
	text-transform: uppercase;
	font-weight: bold;
	border: outset 10px gray;
}
.img-5 {
	border-radius: 50%;
	border: 10px dashed fuchsia;
	display: block;
	margin: 0 0 0 auto;
}
.run-6 {
	border: 10px inset goldenrod;
}
.img-6 {
	border-radius: 100px;
	border-left: 50px solid brown;
	border-right: 50px solid brown;
}
.run-7 {
	border: 15px ridge olive;
}
.img-7 {
	box-shadow: 10px 10px 100px 10px yellow;
	border: 10px dotted orangered;
	display: block;
	margin: 0 0 0 auto;
}
.run-08 {
	border-bottom: 10px double #000;
	text-shadow: 5px 5px 5px green;
}
.img-8 {
	border-radius: 0px 0px 500px 500px;
	border-top: 10px dashed rgb(240, 198, 198);
}
.run-8 {
	border: 50px groove rgb(94, 94, 212);
	box-shadow: 10px -10px 25px 25px red;
}
.img-9 {
	border: 10px double greenyellow;
}
.run-9 {
	opacity: 0.5;
}
.img-10 {
	border-radius: 25%;
	display: block;
	margin: 0 0 0 auto;
	border-top: 20px solid rgb(2, 80, 2);
	border-bottom: 20px dotted gray;
}
.run-10 {
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.7;
	border-top: 5px solid blueviolet	;
	border-bottom: 5px dotted #000;
	border-right: 10px dashed firebrick;
	border-left: 20px double blue;
}
.link {
	text-decoration: line-through;
	border-bottom: 10px dashed red;
}

/* ------Figma-------------------------- */

.figma {
	font-family: "Circular Std", sans-serif;
}
.title {
	font-size: 65px;
	line-height: 100%;
	text-align: center;
	color: #313131;
	font-weight: 500;
	margin-top: 140px;
}
p.sub-title {
	font-size: 20px;
	line-height: 100%;
	text-align: center;
	color: #5F5F5F;
	margin: 20px 0 292px 0;
}
.title2 {
	font-weight: bold;
	font-size: 34px;
	line-height: 130%;
	text-align: left;
	opacity: 0.8;
	color: #313131;
	text-transform: none;
}
p.text {
	font-size: 18px;
	line-height: 28px;
	text-align: left;
	color: #5F5F5F;
	width: 508px;
	margin: 20px 0 125px 0;
}
p.name {
	font-weight: bold;
	font-size: 18px;
	line-height: 130%;
	opacity: 0.8;
	text-align: left;

}
p.posititon {
	font-size: 18px;
	line-height: 100%;
	text-align: left;
	color: #B8B8B8;
}
.photo {
	margin-top: 67px;
	max-width: 468px;
}





































.block {
	/* 
	Анатомия:
	свойство: толщина стиль цвет;
	*/
	/* 
	Стиль:
	solid - прямая
	dotted - точки
	dashed - пунктир
	double - двойная
	*/

	/* Свойства сторон */
	/* 
	border-top: ;
	border-right: ;
	border-bottom: ;
	border-left: ;
	*/

	/* Универсальное свойство 
	(для всех сторон сразу) 
	*/
	/*
	border: 10px solid #000;
	border-top: none;
	*/
}

.inline {
	/*
	border-bottom: 2px dotted green;
	line-height: 125%;
	*/
}
.inline-block {
	/*
	border: 2px dotted green;
	*/
}

/* border-radius - граница */
/*
Устанавливает радиус скругления уголков блока.
*/

/*
border-radius: верхний-левый верхний-правый нижний-правый нижний-левый; 

Круг:
border-radius: 50%;
*/

.block {
	/*
	padding: 20px;
	border-radius: 20px;
	*/
}
.inline {
	/* border-radius: 20px; */
}
.inline-block {
}
.image {
	/*
	border-radius: 50%;
	width: 100px;
	height: 100px;
	overflow: hidden;
	*/
}

/* outline - обводка 
Универсальное свойство, одновременно устанавливающее цвет, 
стиль и толщину внешней границы на всех четырех сторонах элемента. 
*/

.block {
	/* outline: 10px dashed #000; */
}
.inline-block {
	/* outline: 10px dashed #000; */
}
.inline {
	/* outline: 5px dashed #000; */
}

/* box-shadow - Добавляет тень к элементу. */
/* Анатомия
box-shadow: сдвиг_по_гориз сдвиг_по_верт радиус(размытие) расстояние(размер) цвет
*/

/*
Можно добавить много теней. 
Можно добавить внутренную тень. 
На тень влияет свойство border-radius.
*/

.block {
	/* width: 300px; */
	/* margin: 0px 0px 30px 0px; */
	/* box-shadow: 10px 10px 10px 10px #000; */
	/* inset - внутрення тень*/
	/* box-shadow: inset 0px 0px 10px 0px #000, 0 0 10px 0 red; */
	/* border-radius: 10px; */
}

/* opacity - Определяет уровень прозрачности элемента.
	от 0 до 1
 */

.block {
	/* opacity: 0.5; */
}

/* visibility - устанавливает враимодействие с объектом */

.block {
	/* visibility: hidden; */
}
.block-two {
	/* opacity: 0; */
}
.block-three {
	/* display: none; */
}

.button {
	display: inline-block;
	background-color: green;
	padding: 10px 20px;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 8px 0 rgb(3, 75, 3);
}
